Source: libpam-x2go
Section: misc
Priority: optional
Maintainer: Artica Project <devs@lists.arctica-project.org>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends:
 debhelper (>= 9),
 dpkg-dev (>= 1.16.1.1~),
 libgtest-dev,
 libpam0g-dev,
 libssh-dev,
 pkg-config,
 cdbs (>= 0.4.93~),
Standards-Version: 4.1.4
Homepage: http://github.com/ArcticaProject/libpam-x2go
Vcs-Git: https://github.com/ArcticaProject/libpam-x2go/
Vcs-Browser: https://github.com/ArcticaProject/libpam-x2go/

Package: libpam-x2go
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Suggests:
 pyhoca-cli,
Description: PAM Module to auth against an X2Go server using PyHoca
 Auth and session PAM module that uses SSH to authenticate against
 an X2Go server as the remote host and user. Local account required.
 Most useful with the pam-temp-account module.

Package: libpam-x2go-dev
Section: libdevel
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: PAM Module to auth against an X2Go server using PyHoca (development files)
 Auth and session PAM module that uses SSH to authenticate against
 an X2Go server as the remote host and user. Local account required.
 Most useful with the pam-temp-account module.
 .
 This package contains the pam_x2go.so header files.
