#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/clean-la.mk
include /usr/share/cdbs/1/class/autotools.mk

# Remove .a and .la files from /lib/security
binary-post-install/libpam-x2go::
	find $(DEB_DESTDIR)/lib/security -type f \
	        \( -name '*.a' -o -name '*.la' \) \
	            -exec rm '{}' +